@import url("https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Roboto:wght@500&display=swap");
/* 
* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
  cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4424790/cursors-edge.png"), auto;
} */

.body-style{
  background: linear-gradient(to right, white 50%, #383838 50%);
  font-family: "Roboto", sans-serif;
  height: 100vh;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: white;
}

.main-frame h1 {
  font-family: "Fontdiner Swanky", cursive;
  font-size: 3rem;
  color: #c5dc50;
  margin-bottom: 1rem;
  padding-left: 20%;
}
.main-frame p {
  margin-bottom: 2.5rem;
  padding-left:20%
}
.main-frame p em {
  font-style: italic;
  color: #c5dc50;
}
.main-frame button {
  font-family: "Fontdiner Swanky", cursive;
  font-size: 1rem;
  color: #383838;
  border: none;
  background-color: #f36a6f;
  padding: 1rem 2.5rem;
  transform: skew(-5deg);
  transition: all 0.1s ease;
  
}
main button:hover {
  background-color: #c5dc50;
  transform: scale(1.15);
}
